.navbar-wrapper .container{
    width: 100%;
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.imagenes {
    text-align: center;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
}
h2{
    margin-top: 0px!important;
}
h3.featurette-heading {
    margin-top: 5px;
}
#myCarousel, #myCarousel1, #myCarousel2{
    height: 400px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #6D3232!important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #6D3232!important;
}
.carousel {
    height: 400px!important;
}
#contenedor{
    margin-top: 0px;
    width: 100%;
    text-align: -webkit-center;
}
hr {
    margin: 30px!important;
}
.carousel-caption{
   height: 150px!important; 
}
a{
    color: black;
}
#botones{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}
.navbar-wrapper {
    margin-top: 0px!important;
    position: relative!important;
}

#oaa{
    width: 450px;
    height: auto;
}
.titulo-principal{
    position: absolute;
    top: 59px;
    color: white;
    font-size: 70px;
    right: 15px;
    text-align: right;
    text-shadow: 3px 2px black;
}
.btn-primary {
    color: #fff;
    background-color: #a72626;
    border-color: #a72626;
}

.btn {
    padding: 13px 47px;
    border-radius: 0px;
    background-color: #a72626;
    color: white;
}

.navbar-inverse {
    background-color: #a72626;
    border-color: #a72626;
}
.navbar-wrapper .navbar {
    border-radius: 0px!important;
}
.pie{
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}
.contacto{
    color: white;
    width: 150px;
    font-size: 23px;
}
body {
    padding-bottom: 0px;
    color: #5a5a5a;
}
.carousel-inner{
    height: 399px!important;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff!important;
}
.navbar-inverse .navbar-brand {
    color: #fff!important;
}
@media all and (min-width: 600px) and (max-width: 1024px) {
    #japones{
        margin-top: 45px;
    }
    .titulo-principal{
        position: absolute;
        top: 10px;
        color: white;
        font-size: 40px;
        right: 15px;
        text-shadow: 3px 2px black;
    }
    .carousel-inner{
        height: 399px!important;
    }
    .item{
        height: 399px;
    }
    .oaa{
        width: 44%;
        text-align: -webkit-center;
    }
    .dojo{
        text-align: right!important;
    }
    
 
}
@media all and (max-width: 599px){
    .titulo-principal{
        position: absolute;
        top: 10px;
        color: white;
        font-size: 20px;
        right: 4px;
        text-shadow: 3px 2px black;
    }
    .footer-section h3{
        font-size: 20px;
    }
    .carousel-inner{
        height: 399px!important;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: white!important;
    }
    .navbar-inverse .navbar-brand {
        color: white!important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff!important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #fff!important;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }
    .logooaa{
        width: 40%!important;
    }
    .pie{
        height: 652px;
    }
    
    
}
.footer-section{
    text-align: -webkit-center;
}
.footer-section h3{
    text-align: center;
    font-size: 20px!important;
    width: 100%;
}
#footercontainer{
    padding: 0px!important;
}
.aikidofooter{
    margin-top: 0px;
}
.footer-title{
    text-align: center;
}
#face{
    width: 50px;
    height: 50px;
}
.h4, h4 {
    font-size: 14px!important;
}
.featurette-image, .carousel-inner{
    -webkit-box-shadow: 6px 6px 20px 0px rgba(128,128,128,1);
    -moz-box-shadow: 6px 6px 20px 0px rgba(128,128,128,1);
    box-shadow: 6px 6px 20px 0px rgba(128,128,128,1);
}
.featurette-image:hover{
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.container h2 {
    font-size: 22px!important;
}
.container {
    padding-left: 4px!important;
    padding-right: 4px!important;
}
.container p{
    font-size: 17px!important;
}
.dojo{
    text-align: right!important;
}
.logooaa{
    height: auto;
    width: 30%;
}
.campo{
    color:red;
}
.modal-body li{
    text-align: left;
}
.marketing .col-lg-4 {
    text-align: -webkit-center;
}
#enviar{
    text-align: right;
}

.form-center{
   max-width: 500px;
   margin: 0 auto;
   padding: 10px;
}
label{
    text-align: left;
}

.form-horizontal .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
h1,p{
    text-align: center;
}
.iframe-mapa{
    border: 0px;
    width: 100%;
    height: 400px;
}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px !important;
}

section{
    padding-top: 36px;
}